body
{
	background:url(http://subtlepatterns.com/patterns/fabric_plaid.png) repeat;
	border-top:5px solid rgb(250, 195, 206);
	height:100%;
	font-family: 'Arizonia', cursive;
	padding:0;
	margin:0 auto;
}

div.container
{
	margin:50px auto 10px auto;
	padding:0;
	width: 861px;
}

header, footer p, a
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div#main-content
{
	background:#fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 5px 1px #999;
	margin:0 auto 50px auto;
	padding:0;
}

#left-pics
{
	float:left;
}

#right-pics
{
	float:right;
	overflow:hidden;
	width:550px;
}

#main
{
	border-top-right-radius: 10px;
}

#left-pics img
{
	margin:0 10px 10px 0;
}

#registries-img
{
	border-top-left-radius: 10px;	
}

#left-pics > img:last-child
{
	margin:0 10px 10px 0;
}

#right-pics img
{
	margin:0 0 10px 0;
}

#right-bottom img
{
	float:left;
	margin:0 10px 10px 0;
}

#right-bottom img:last-child
{
	margin-right:0;
}

footer
{
	/*background-color:rgb(28,134,238); */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top:1px dashed rgba(0,0,0,.45);
	height:110px;
	margin:0;
	padding:10px;
	text-align:center;
}

.clear
{
	clear:both;
}

img
{
	display:block;
	margin:0;
	padding:0;
}

a
{
	color:#fff;
	position:relative;
}

a h4
{
	background:rgba(0,0,0,0.9);
	padding:10px 50px;
	display:none;
	position:absolute;
	width:200px;
}

a:hover h4
{
	display:block;
}

a:hover img
{
	opacity:0.4;
}