div.container
{
	background:#fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 10px 1px #292929;
	margin:20px auto 20px auto;
	width: 861px;
}

body
{
	background:#fff;
}

#left-pics
{
	float:left;
}

#right-pics
{
	float:right;
}

#main
{
	border-top-right-radius: 10px;
}

#left-pics img
{
	margin:0 10px 10px 0;
}

#left-pics img:first-child
{
	border-top-left-radius: 10px;	
}

#left-pics img:last-child
{
	margin:0 10px 6px 0;
}

#right-pics img
{
	margin:0 0 10px 0;
}

#right-bottom img
{
	display:inline-block;
	margin:0 0px 10px 0;
}

#right-bottom img:last-child
{
	margin: 0 10px 0 0;
}

footer
{
	/*background-color:rgb(28,134,238); */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top:1px dashed rgba(0,0,0,.45);
	height:110px;
	margin:0;
	padding:10px;
	text-align:center;
}

.clear
{
	clear:both;
}

img
{
	display:block;
}

a
{
	color:#fff;
	position:relative;
}

a h4
{
	background:rgba(0,0,0,0.9);
	padding:10px 50px;
	display:none;
	position:absolute;
	width:200px;
}

a:hover h4
{
	display:block;
}

a:hover img
{
	opacity:0.4;
}