body
{
	background:url(fabric_plaid.png) repeat;
	height:100%;
	font-size:0.9em;
	font-family: 'Arizonia', cursive;
	line-height:2em;
	padding:0;
	margin:0 auto;
}

img
{
	background:#fff;
	display:block;
	box-shadow: 0 0 5px 1px #999;
	margin:0;
	padding:2px;
}

a
{
	color:#fff;
	position:relative;
}

a h4
{
	background:rgba(0,0,0,0.9);
	padding:10px 50px;
	display:none;
	position:absolute;
	width:200px;
}

a:hover h4
{
	display:block;
}

a:hover img
{
	opacity:0.4;
}

div.container
{
	margin:50px auto;
	padding:0;
	width: 868px;
}

header, p, a
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#body-content
{
	background:#fff;
	box-shadow: 0 0 5px 1px #999;
	display:none;
}

.guts
{
	padding:20px;
}

#left-pics
{
	float:left;
}

#right-pics
{
	float:right;
}

#left-pics img
{
	margin:0 10px 10px 0;
}

#left-pics > img:last-child
{
	margin:0 10px 10px 0;
}

#right-pics img
{
	margin:0 0 10px 0;
}

#right-bottom img
{
	float:left;
	margin:0 6px 10px 0;
}

#right-bottom img:last-child
{
	margin-right:0;
}

footer
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin:0;
	padding:10px;
	text-align:center;
}

footer h1
{
	color:rgb(125, 167, 217);
	font-size:3em;
	letter-spacing:5px;
	text-shadow: #fff 2px 2px 0;
}

.clear
{
	clear:both;
}